root = ".."
testdata_dir = "api-gateway/testdata"
tmp_dir = "api-gateway/logs"

[build]
  args_bin = []
  bin = "./cmd/server/main"
  cmd = "go build -o cmd/server/main ./cmd/server/main.go"
  delay = 500
  exclude_dir = ["shared/proto", "api-gateway/logs", "api-gateway/scripts"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["shared", "api-gateway"]
  include_ext = ["go", "tpl", "tmpl", "html", "yaml"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false